<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Formulario</title>

    <style>
        h1 {
            text-align: center;
            padding: 10px;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            font-size: 60px;
        }

        .container {
            background-color: silver;
            padding: 5%;
            border: 1px solid black;
        }
        
        .focus{
            border-color: red;
        }
        button{
            margin-left: 60px;
        }
    </style>

    <script type="text/javascript">

       function validarForm(form) {

            //validação do campo nome
            if (form.nome.value == " " || form.nome.value == null || form.nome.value < 3) {
                alert("Indique um nome válido");
                form.nome.focus();
                return false;
            }

            //validação do campo email
            if (form.email.value.indexOf("@") == -1 || form.email.valueOf.indexOf(".") == -1 || 
                form.email.value == " " || form.email.value == null) {
                alert("Indique um E-mail válido");
                return false;
            }

            //validação do campo senha e confirmacção de senha
            if (form.senha.value == " " ) {
                alert("digite uma senha");
                form.senha.focus();
            }if else(form.ConfirmaSenha.value == " "){
                alert("usuario não confirmou a senha");
                form.ConfirmaSenha.focus();
            }if else( form.senha.value != form.ConfirmaSenha.value){
                alert("suas senhas não correspondem");
                form.senha.focus();
                form.ConfirmaSenha.focus();
            } else{
                return form.senha.submit() && form.ConfirmaSenha.submit();
            }

            //validação do campo modulo com tipo de botão radio
            if ((from.gridRadios[0].checked) || (from.gridRadios[1].checked) || (from.gridRadios[2].checked)) {
                
            }else{
                alert("É necessário selecionar um modulo!");
                from.gridRadios[0].focus();
                from.gridRadios[1].focus();
                from.gridRadios[2].focus();
                return false;
            }

            //validação do campo Preferencias com tipo de botão checkbox
            if ((form.preferencia[0].checked) || (form.preferencia[1].checked) || (form.preferencia[2].checked)) {
                
            }else{
                alert("É necessário escolher no mínimo uma Preferencia de disciplina");
                form.preferencia[0].focus();
                form.preferencia[1].focus();
                form.preferencia[2].focus();
                return false;
            }
            //vereicar se todos os campus estão válidos
            if (valided  == 6) {
                alert("Seu Cadastro foi Concluido com Sucesso");
            }
        } 

        function limpar() {
            //se os campus estiverem preenchidos a função retorna com o campo vazio
            if (document.getElementById("nome").value !="" || document.getElementById("email").value !="" ||
                document.getElementById("senha").value !="" || document.getElementById("ConfirmaSenha").value !="" ||
                document.getElementById("gridRadios1").value != true ||  document.getElementById("gridRadios2").value != true || 
                document.getElementById("gridRadios3").value != true || document.getElementById("gridCheck1").value !=true ||
                document.getElementById("gridCheck2").value !=true || document.getElementById("gridCheck3").value !=true ) {

                    document.getElementById('nome').value="";
                    document.getElementById('email').value="";
                    document.getElementById('senha').value="";
                    document.getElementById('ConfirmaSenha').value="";
                    document.getElementById('gridRadios1').checked= false;
                    document.getElementById("gridRadios2").checked= false;
                    document.getElementById("gridRadios3").checked= false;
                    document.getElementById("gridCheck1").checked= false;
                    document.getElementById("gridCheck2").checked= false;
                    document.getElementById("gridCheck3").checked= false;
            }
        }
    </script>

</head>

<body>
    <h1>Faça o seu cadastro</h1>

    <div class="container">
        <form name="form" method="POST" action="cadastro"> 
            <div class="form-group row">
                <label for="nome" class="col-sm-2 col-form-label">Nome</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="nome" name="nome" placeholder="Ex.: Jose maria" style=" border: 1px solid black;">
                </div>
            </div>
            <div class="form-group row">
                <label for="email" class="col-sm-2 col-form-label">E-mail</label>
                <div class="col-sm-7">
                    <input type="email" class="form-control" id="email" name="email" placeholder="Ex:. josemaria@gmail.com" style=" border: 1px solid black;">
                </div>
            </div>
            <div class="form-group row">
                <label for="senha" class="col-sm-2 col-form-label">Senha</label>
                <div class="col-sm-5">
                    <input type="password" class="form-control" id="senha" name="senha"  placeholder="Ex.: *******" width="40" maxlength="30" style=" border: 1px solid black;">
                </div>
            </div>
            <div class="form-group row">
                <label for="ConfirmaSenha" class="col-sm-2 col-form-label">Confirmar Senha</label>
                <div class="col-sm-5">
                    <input type="password" class="form-control" id="ConfirmaSenha" name="ConfirmaSenha" placeholder="Confirme a Senha" style=" border: 1px solid black;">
                </div>
            </div>
            <fieldset class="form-group">
                <div class="row">
                    <legend class="col-form-label col-sm-2 pt-0">Modulo</legend>
                    <div class="col-sm-10">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1"
                                value="option1">
                            <label class="form-check-label" for="gridRadios1">
                                Primeiro
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2"
                                value="option2">
                            <label class="form-check-label" for="gridRadios2">
                                Segundo
                            </label>
                        </div>
                        <div class="form-check disabled">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3"
                                value="option3">
                            <label class="form-check-label" for="gridRadios3">
                                Terceiro
                            </label>
                        </div>
                    </div>
                </div>
            </fieldset>
            <div class="form-group row">
                <div class="col-sm-2">Preferencias</div>
                <div class="col-sm-10" name="Preferencias">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="preferencia" id="gridCheck1">
                        <label class="form-check-label" for="gridCheck1">
                            P.O.O
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="preferencia" id="gridCheck2">
                        <label class="form-check-label" for="gridCheck1">
                            Pweb2
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="preferencia" id="gridCheck3">
                        <label class="form-check-label" for="gridCheck1">
                            programção móvel
                        </label>
                    </div>
                </div>

            </div>
        <button type="button" class="btn btn-dark" style="margin-left: 350px" value="validar" onclick="validarForm(form)">VALIDAR</button>
        <button type="button" class="btn btn-dark" value="limpar" onclick="limpar()">LIMPAR</button>

        </form>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>